<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="static/css/pintuer.css">
<link rel="stylesheet" href="static/css/admin.css">
<script src="static/js/jquery.js"></script>
<script src="static/js/pintuer.js"></script>
    <style>
      .row {
        margin-top: 15px;
        margin-bottom: 10px;
      }

      .container {
        margin-top: 20px;
      }

      .btn {
        margin-top: 15px;
      }

      .btn-danger {
        margin-left: 5px;
      }
      {% if font.family %}
      @font-face {
        font-family: '{{ font.family }}';
        src: url('{{ font.url }}');
      }

      body {
        font-family: '{{ font.family }}';
      }
      {% end %}
    </style>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>SSH连接工具</strong></div>
  <div class="body-content" id="waiter">
    <form class="form-x" id="connect" action="" method="post" enctype="multipart/form-data"{% if debug %} novalidate{% end %}>
      <div class="form-group">
        <div class="label">
          <label>Hostname：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" id="hostname" name="hostname"  value="" data-validate="required:请输入主机地址" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>Port：</label>
        </div>
        <div class="field">
          <input class="input w50" type="number" id="port" name="port" placeholder="22" value="" min=1 max=65535/>
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>username：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" id="username" name="username" value=""  />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>password：</label>
        </div>
        <div class="field">
          <input class="input w50" type="password" id="password" name="password" value="" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>Private Key：</label>
        </div>
        <div class="field">
          <input class="input w50" type="file" id="privatekey" name="privatekey" value=""  />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>Passphrase：</label>
        </div>
        <div class="field">
          <input class="input w50" type="password" id="passphrase" name="passphrase" value="" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>Totp (time-based one-time password)：</label>
        </div>
        <div class="field">
          <input class="input w50" type="password" id="totp" name="totp" value="" />
          <div class="tips"></div>
        </div>
      </div>
        <input type="hidden" id="term" name="term" value="xterm-256color">{% module xsrf_form_html() %}
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o btn btn-primary" onclick="hidd()" type="submit"> 提交</button>
        </div>
      </div>
    </form>
  </div>
</div>
</body>
<link href="static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="static/css/xterm.min.css" rel="stylesheet" type="text/css"/>
<link href="static/css/fullscreen.min.css" rel="stylesheet" type="text/css"/>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/xterm.min.js"></script>
    <script src="static/js/xterm-addon-fit.min.js"></script>
    <script src="static/js/main.js"></script>
<script>
    function hidd(){
        document.getElementById("waiter").style.display="none";
    }

</script>
</html>